# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TenetCompiler.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Study\Compilers\Course Project\TenetCompiler\.idea\.idea.TenetCompiler\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
